.fix-box {
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 1px white dotted;
    border-radius: 5px;
}

#master{
    border-radius: 5px;
    border: 2px white ridge;
    width: 100%;
}

.subheading{
    color: white;
    text-align: center;
}
.btn-blue {
    background: rgb(34, 193, 195);
    color: black;
}

.btn-orange {
    background: rgb(221, 112, 18);
    color: black;
}

.btn-green {
    background: rgb(44, 209, 88);
    color: black;
}